<div class = " Jumbotron text-center">

<h1> Bots Buzz Events</h1>



<% @events.each do |evnt| %>
  <div>
    <h3> Venue: <%=evnt.venue %></h3>

    

    <% if @current_user %>

    <%= button_to "Join Event", event_users_path(event) %>
    <%end%>
  </div>
  <br>
<% end %>